<div class="row">
    <div class="side" >
        <div data-sly-resource="${ 'inner' @ resourceType='/apps/wknd/components/content/aboutme' }"></div>
        <div data-sly-resource="${ 'inner1' @ resourceType='/apps/wknd/components/content/moretext' }"></div>
    </div>

    <div class="main" >
        <div data-sly-resource="${ 'inner2' @ resourceType='/apps/wknd/components/content/titleheading' }"></div>
        <div data-sly-resource="${ 'inner3' @ resourceType='/apps/wknd/components/content/titleheading' }"></div>
    </div>
</div>